@{
    ViewData["Title"] = "Signup";

}


@model taskify.Models.SignupViewModel



<section class="w-screen h-screen flex items-center justify-center">

<form as-action="/auth/signup" method="POST" class="w-11/12 md:w-1/2 xl:w-1/4">

      <h1 class="text-3xl font-bold">Signup </h1>
      <span>Create your taskify account</span>
        <br/>
        
        <div class="my-4">
            <label asp-for="Fullname" class="block my-2">Fullname</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="text"  asp-for="Fullname" placeholder="Enter your full name"/>
            <span asp-validation-for="Fullname" class="text-red-500 text-sm"></span>
        </div>

          <div class="my-4">
            <label asp-for="Email" class="block my-2">Email</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="email" asp-for="Email" placeholder="Enter your email address"/>
            <span asp-validation-for="Email" class="text-red-500 text-sm"></span>
        </div>


        <div class="my-4">
            <label asp-for="Password" class="block my-2">Password</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="password"  asp-for="Password" placeholder="Shhh 🤫 it's a secret"/>
            <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
        </div>


         <div class="my-4">
            <label asp-for="ConfirmPassword" class="block my-2">Confirm Password</label>
            <input class="input border-[1px] border-gray-200 focus:outline-none rounded-md w-full h-[3.7rem]" type="password"  asp-for="ConfirmPassword" placeholder="Confirm your password"/>
            <span asp-validation-for="ConfirmPassword" class="text-red-500 text-sm"></span>
        </div>



        <div class="my-5">
            <button class="btn bg-[#181717] hover:bg-black text-white w-full h-[3.7rem]">Signup</button>
        </div>


        <div>
            <span>Have an account?</span>
            <a class="underline" href="/auth/login">Login</a>
        </div>
</form>

 
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}