<!DOCTYPE html>
<html lang="en" data-theme="wireframe">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="shortcut icon" href="taskify-logo.png" type="image/x-icon">
</head>
<body class="scroll-smooth">
        <partial name="_Navbar"/>
  
    <div class="w-screen h-screen">
        <main role="main" class="w-full">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
