@model Tuple<string, string>

@{
    string message = Model.Item1;
    string state = Model.Item2;
    string className = "alert-info";


    switch (state){
        case "success":
            className = "bg-green-400";
            break;
        case "error":
            className = "bg-red-400";
            break;
        case "warning":
            className = "alert-warning";
            break;
        case "info":
            className = "bg-sky-400";
            break;
        default:
            className = "bg-sky-400";
            break;
    }
}

<div class="alert text-center @className my-2 flex items-center justify-center">
  <span class="mx-auto">@message</span>
</div>







 