<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar border-b-[1px] border-secondary container-fluid backdrop-filter backdrop-blur-md fixed top-0 right-0 left-0 z-[1000] flex items-center w-full justify-between">
     
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-justify"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
        </label>
      </div> 

      <div class="md:flex-1 px-2 mx-2">
       <a href="/"> <h1 class="md:text-[22px] text-[19px] px-3 font-extrabold sm:block hidden">Taskify</h1></a>
      </div>


      <div class="flex-none hidden lg:block">
        <a href="https://github.com/adedoyin-emmanuel/taskify">
                    <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="white"
    viewBox="0 0 24 24"
    stroke="currentColor"
    class="w-7 h-7 mr-2 inline"
  >
    <path
      fill-rule="evenodd"
      d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.8 8.205 11.387.6.11.793-.26.793-.577 0-.285-.011-1.04-.017-2.04-3.338.726-4.042-1.612-4.042-1.612-.546-1.386-1.333-1.756-1.333-1.756-1.089-.744.083-.729.083-.729 1.205.085 1.84 1.237 1.84 1.237 1.07 1.835 2.809 1.305 3.495.997.108-.774.42-1.305.762-1.606-2.665-.305-5.466-1.334-5.466-5.932 0-1.31.467-2.381 1.235-3.221-.124-.303-.535-1.524.116-3.176 0 0 1.008-.322 3.3 1.23a11.513 11.513 0 013.003-.403c1.018.004 2.042.137 3.003.403 2.29-1.553 3.297-1.23 3.297-1.23.653 1.652.242 2.873.119 3.176.77.84 1.233 1.911 1.233 3.221 0 4.61-2.804 5.624-5.475 5.921.43.37.816 1.1.816 2.217 0 1.6-.015 2.888-.015 3.281 0 .32.191.694.799.576C20.565 21.796 24 17.298 24 12c0-6.627-5.373-12-12-12z"
      clip-rule="evenodd"
    />
  </svg>
        </a>

      </div>

    </div>
  </div> 
  <div class="drawer-side z-[100000]">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
     <ul class="menu p-4 w-80 min-h-full bg-base-200 ">
      <br/>
      <li class="flex"><a class="text-[18px] underline">Github <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-up-right"><path d="M13 5H19V11"/><path d="M19 5L5 19"/></svg></a></li>
      <li><a class="text-[18px] underline">Twitter <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-up-right"><path d="M13 5H19V11"/><path d="M19 5L5 19"/></svg></a></li>
    </ul>
  </div>
</div>

<br/>
<br/>
<br/>
