@using taskify.Models
@{

}
<section class="shadow rounded border-[1px] border-black flex  p-3 items-center justify-start gap-4 my-3">
    <input type="checkbox" checked="checked" class="checkbox checkbox-md" /> 

    <p>Publish an article on adding notification library in ASP.NET CORE MVC (razor files)</p>
</section>