@model taskify.Models.TodoViewModel



 <a class="shadow rounded border-[1px] border-black flex  p-3 items-center justify-start gap-4 my-3 cursor-pointer" asp-controller="Todo" asp-action="Edit" asp-route-itemid="@Model.Id">
        <input type="checkbox" checked="@Model.IsDone" class="checkbox checkbox-md" />        
        <div>
            <h1 class="font-bold my-1">@Model.Title</h1>

            <p>@Model.Description</p>
        </div>
</a>