@{
    ViewData["Title"] = "My Todos";
}

@model List<taskify.Models.Todo>


@{
    var allTodos = Model;

    var doneTodoLength = allTodos.Where(todo => todo.IsDone).Count();
    var undoneTodoLength = allTodos.Where(todo =>!todo.IsDone).Count();

}

<partial name="_AddIcon"/>
<section class="p-3 grid md:grid-cols-2 gap-10 grid-cols-1">


    @* Undone Todo *@

    <section class="w-full">
        <h2 class="text-2xl flex items-center gap-x-2">My Todos
            <span class="border border-black text-center flex items-center justify-center font-bold h-5 w-5 rounded-full text-[12px]">
                <span class="text-[12px]">@undoneTodoLength</span>
            </span>
        </h2>

    @foreach(var todo in allTodos){
        if(!todo.IsDone){
            <partial name="_Todo" model="@todo"/>
        }
    }


     @if(undoneTodoLength == 0){
        <div>

            <p class="text-gray-800 my-4">You have no todos 🚀</p>

            <div class="my-5">
                <a class="btn bg-[#181717] hover:bg-black text-white w-full md:w-1/4 h-[3.7rem]" asp-action="New" asp-controller="Todo">Create Todo</a>
            </div>


        </div>
     }

    </section>



    @* Done Todo *@

    <section class="w-full">
         <h2 class="text-2xl flex items-center gap-x-2">Done

    <span class="border border-black text-center flex items-center justify-center font-bold h-5 w-5 rounded-full text-[12px]">
        <span class="text-[12px]">@doneTodoLength</span>
    </span>
    </h2>


      @foreach(var todo in allTodos){
        if(todo.IsDone){
            <partial name="_Todo" model="@todo"/>
        }
     }


    </section>


    
    </section>
</section>
